{{ define "subject" }} Welcome to Cinevie! {{ end }}

{{ define "plainBody" }}
Hi, {{ .userName }}!

Thanks for signing up for a Cinevie account. We're excited to have you on board!
For future reference, your user ID number is {{.userID}}.

Please send a `PUT /v1/users/activated` request with the following JSON body to activate your account:

{"token": "{{ .activationToken}}"}

Please note that this is a one-time use token and it will expire in 3 hours.


Thanks,
The Cinevie Team
{{ end }}

{{ define "htmlBody" }}
<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <p> Hi, {{ .userName }}!</p>
    <br>

	    <p>Thanks for signing up for a Cinevie account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.userID}}.</p>
	<br>

    <p> Please send a <code> PUT /v1/users/activated </code> request with the following JSON body to activate your account: </p>
    <pre><code>
      {"token": "{{ .activationToken }}"}
    </code></pre>
    <p> Please note that this is a one-time use token and it will expire in 3 hours. </p>
    <br>
    <p> Thanks, </p>
    <p> The Cinevie Team </p>

</html>
{{ end }}
